<link rel="import" href="./app/templates/transaction-list.html">
<link rel="import" href="./app/templates/transfer-money.html">

<h2>Hi this is a bank</h2>
<div class="row">
    <div class="col-md-4" id="transferMoney">

    </div>
    <div class="col-md-4" id="accountsList">

    </div>
    <div class="col-md-4">
        <transaction-list>

        </transaction-list>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <transfer-money></transfer-money>
    </div>
</div>