<form>
    <h2>Transfer Money</h2>
    <div>From Account:</div>
    <select id="fromAccount">
    <% _.each(fromAccounts, function(account){ %>
        <option><%- account.name%></option>
    <%})%>
    </select>
    <div>To Account:</div>
    <select id="toAccount">
        <% _.each(toAccounts, function(account){ %>
        <option><%- account.name%></option>
        <%})%>
    </select>
    <div>
        <input type="text" id="amount"/><br>
        <button id="transfer">Transfer</button>
    </div>
    <span class="info-box"></span>
</form>